{% macro reveal(reveals='', open=false) %}
{# needs to be able to pass value through explicitly #}
{% if reveals %}
  <div class="panel panel-border-narrow{% if not open %} js-hidden{% endif %}" id="{{ reveals }}" aria-hidden="{% if open %}true{% else %}false{% endif %}">
    {% call control(reveals) %}{% endcall %}
  </div>
{% endif %}
{% endmacro %}