{% from '../BlockHeading/BlockHeading.njk' import BlockHeading with context %}
{% from '../Control/Control.njk' import Control with context %}
{% macro Group(name='', heading='', elements=[]) %}
<div{% if name %} data-element-block="{{name}}"{% endif %}>
{#{{ BlockHeading(name, heading=heading) }}#}
{% if name %}
{% set elements = getElementProp(name, 'elements') %}
{% endif %}
{% for element in elements %}
  {% if element.type %}
    {% if macros[element.type] %}
    {#{% call macros[element.type](element.data) %}{% endcall %}#}
    {{ macros[element.type](element.data) }}
    {% else %}
    <p>NO SUCH MACRO : {{ element.type }}:</p>
    {% endif %}
  {% else %}
  {#{% call Control(element) %}{% endcall %}#}
  {{ Control(element) }}
  {% endif %}
{% endfor %}
</div>
{% endmacro %}