{% macro control(name, type='', value='', error='', label='', sublabel='', hint='', heading='', inline='', depth=2) -%}
{% if checkNoDependency(name, true) %}
{% set type = getElementProp(name, 'type', 'text', { value: type }) %}
{% if macros[type] %}
{% set macroOutput = macros[type](name, value=value, error=error, label=label, sublabel=sublabel, hint=hint, heading=heading, inline=inline, depth=depth) %}
{{ macroOutput | safe }}
{#{{ macroOutput | makeEditable(name, type) | safe }}#}
{% else %}<p>NO SUCH MACRO :{{ type }}:</p>{% endif %}
{% endif %}
{%- endmacro %}
