{% extends "templates/layout_elements.html" %}

{% macro wibble(hello) %}
{{this}} {{self}}
Hello - {{ hello }}, woot {{woot}}, toosh {{toosh}}
{% endmacro %}

{% block page_title %}
  Action Plan
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="xcolumn-two-thirds">

      <h1 class="heading-xlarge">
        Elements
      </h1>
	{#% remote "shidazzle" %}
	TWONK-A-DONK
	{% endremote %#}
	{#{ nibble('top')}#}

	{{macros.Body('ermintrude')}}

	  {{ wibble(woot='wazaa', toosh=23) }}

<form action="/" method="post" class="form">
{{ macros.Text('wham', error='Ay Caramba!', value='Ay wahey!') }}
{{ macros.Control('wham', error='Caramba!', value='wahey!') }}
{{ macros.Control('wham', label='Muy Labelo!', hint='A truly useful hint!') }}
{{ macros.Password('spliffing', error='Ay Caramba!', value='Ay wahey!') }}
{{ macros.Control('wham', type='password', error='Caramba!', value='wahey!') }}


{{ macros.RadioGroup('housing-act') }}
{{ macros.RadioGroup('twosh') }}
	{{ macros.CheckboxGroup('nationality') }}

{#
{{ macros.Control('wham', type='password') }}
{{ macros.Control('wham', type='number') }}
{{ macros.Control('wham', type='file') }}


	{{ macros.Text('wham') }}
	
	{{ macros.Number('wham') }}
	{{ macros.File('wham') }}
	{{ macros.Input('foo', value='bar') }}
	{{ macros.Password('pass', value='password') }}
	{{ macros.RadioGroup('housing-act') }}
	{{ macros.RadioGroup('twosh') }}
	{{ macros.RadioGroup('gash', inline=false, or=true) }}
	{{ macros.CheckboxGroup('nationality') }}
	{{ macros.Control('foo', value='kooool') }}
	{{ macros.Input('foo', value='whammo') }}
	{% set controlType = 'Input' %}
	{{ macros[controlType]('foo', value='blammo') }}
#}
</form>






    </div>
  </div>
</main>

{% endblock %}


